/* Main navbar */
.navbar-forwardly {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

/* Left section */
.navbar-forwardly-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-forwardly-logo img {
  height: 60px;
  margin-top: 5px;
  margin-left: 10px;
}

.navbar-forwardly-logo-name {
  text-align: center;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #e86f6f;
  text-decoration: none;
}

.navbar-forwardly-logo-name:hover {
  text-align: center;
  color: #e86f6f;
  text-decoration: none;
}

/* Right section */
.navbar-forwardly-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-forwardly-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-forwardly-link {
  font-family: 'Roboto', sans-serif;
  color: #4b4a4c;
  font-size: 16px;
}
.navbar-forwardly-link:hover {
  color: #4b4a4c;
  text-decoration: none;
}

.navbar-forwardly-button {
  background: #e86f6f;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}
.navbar-forwardly-button:hover {
  color: white;
  text-decoration: none;
}



